/* Estilo indexcontadelux-uai.html */
Body {
  font-family: "mulish";
  background-color: white;
  background-image: url("Fundo.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.menu {
  width: 100%;
}
.menu ul {
  margin-top: 0px;
  text-align: center;
  border: 2px solid darkgreen;
  background: rgba(194, 226, 236, 0.77);
  opacity: 0.7;
}

.menu ul li {
  display: inline;
  padding: 250px 20px;
}
.menu ul li a {
  color: darkgreen;
  text-decoration: none;
}

.menu ul li a:hover {
  text-decoration: underline;
}

main {
  box-sizing: border-box;
  margin-top: 50px;
  color: darkgreen;
}

/* Lado a lado*/
.column {
  float: left;
  width: 45%;
  padding: 0 10px;
  border: darkgreen solid 4px;
  background: white;
}

/* Posicioanr na tela */
.row {
  margin: 0 60px;
}

/* Ficar alinhado a esquerda */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Box do texto deo card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: rgba(194, 226, 236, 0.77);
}

.row a {
  color: darkgreen;
  text-decoration: none;
}

.row a:hover {
  text-decoration: underline;
  color: blue;
}

#cartilha {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 350px;
  width: 100%;
}

#conta {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 350px;
  width: 100%;
}

/* Coluna pesponsiva */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

header {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  background-color: rgba(194, 226, 236, 0.77);
  width: 100%;
}

header h1 {
  color: darkgreen;
  font-size: 40px;
  margin-left: 200px;
}

.logo {
  float: left;
  max-width: 200px;
  max-height: 150px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(194, 226, 236, 0.77);
  color: darkgreen;
  text-align: center;
}

footer h3 {
  margin: 25px;
  margin-bottom: 0;
  margin-top: 5px;
  font-size: small;
}

footer p {
  margin: 0 25px;
  font-size: small;
}
