* {
    box-sizing: border-box;
    margin: 0;
    max-height: 1024px;
    max-width: 1440px;
}

body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background-color: #ffffff;
    border: 1px solid rgba(10, 137, 177, 0.25);
    box-sizing: border-box;
}

.logo {
    position: absolute;
    width: 430px;
    height: 293px;
    left: 0.0px;
    margin-top: 0.0px;
    background: url(/css/img/Logo.png);
}

.fundo {
    position: absolute;
    height: 902px;
    left: 18.61%;
    right: 22.92%;
    width: 842px;
    margin-top: 1px;
    border-radius: 97px;
    background-image: url(/css/img/fundo.png);
}

.cabecalho {
    position: absolute;
    width: 100%;
    height: 121px;
    left: 1px;
    top: 2px;
    background: rgba(10, 137, 177, 0.25);
}

.registro {
    margin: 8px 0;
    border: solid 2px black;
    border-radius: 15px;
}

.block1 {
    height: 70px;
    mix-blend-mode: normal;
    width: 208px;
    position: absolute;
    left: 891px;
    top: 130px;
    background-color: rgba(194, 226, 236, 0.77);
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.block2 {
    height: 70px;
    mix-blend-mode: normal;
    width: 208px;
    position: absolute;
    left: 1156px;
    top: 130px;
    background-color: rgba(194, 226, 236, 0.77);
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.block3 {
    height: 80px;
    mix-blend-mode: normal;
    width: 250px;
    position: absolute;
    left: 480px;
    top: 130px;
    background-color: rgba(194, 226, 236, 0.77);
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.block4 {
    height: 80px;
    mix-blend-mode: normal;
    width: 250px;
    position: absolute;
    left: 10px;
    top: 300px;
    background-color: rgba(194, 226, 236, 0.77);
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.USUARIO {
    height: 25px;
    mix-blend-mode: normal;
    width: 111px;
    position: absolute;
    left: 940px;
    top: 165px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #008037;
    text-decoration: none;
}

.Registre {
    height: 54px;
    mix-blend-mode: normal;
    width: 116px;
    position: absolute;
    left: 1196px;
    top: 145px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #008037;
    text-decoration: none;
    text-align: center;
}

.consumo {
    height: 50px;
    mix-blend-mode: normal;
    width: 200px;
    position: absolute;
    left: 500px;
    top: 169px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 30px;
    color: #008037;
    text-decoration: none;
}

.registros {
    height: 50px;
    mix-blend-mode: normal;
    width: 220px;
    position: absolute;
    left: 15px;
    top: 335px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 30px;
    color: #008037;
    text-decoration: none;
}

.retangulo {
    cursor: pointer;
    height: 553px;
    right: 0px;
    position: absolute;
    top: 318px;
    width: 165px;
    z-index: 5;
}

.h1 {
    text-align: center;
    color: green;
}

.btn2 {
    padding: 10px;
    margin: 10px 10px;
    color: rgb(10, 10, 10);
    background-color: rgba(10, 137, 177, 0.25);
    position: absolute;
    width: 200px;
    height: 70px;
    top: 150px;
    right: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #008037;
    user-select: none;
    cursor: pointer;
}

.btn {
    padding: 10px;
    margin: 10px 10px;
    background-color: rgba(10, 137, 177, 0.25);
    position: absolute;
    width: 200px;
    height: 70px;
    top: 150px;
    right: 400px;
    text-align: center;
    border-radius: 10px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #008037;
    user-select: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

.btn2:hover {
    opacity: 0.7;
}

.btn3:hover {
    opacity: 0.7;
}

.btn4:hover {
    opacity: 0.7;
}

.form {
    position: absolute;
    width: 700px;
    height: 500px;
    left: 335px;
    top: 298px;
    border-radius: 30px;
}

.botao {
    width: 700px;
    height: 450px;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: bold;
}

.aparelho {
    position: absolute;
    left: 370px;
    top: 299px;
}
.quantidade {
    position: absolute;
    left: 770px;
    top: 310px;

}
.tempodeuso{
    position: absolute;
    left: 370px;
    top: 399px;
}

.customes{
    position: absolute;
    left: 382px;
    top: 569px;

}

.Kwh{
    position: absolute;
    left: 570px;
    top: 499px;

}

.tarifa{
    position: absolute;
    left: 570px;
    top: 599px;

}


main {
    margin: 0 auto;
    width: 980;
    float: left;
    position: relative;
}

button {
    background-color: white;
    width: 50%;
    color: rgb(13, 14, 13);
    padding: 20px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: solid 1px;
}

input[type="text"], input[type="password"] {
    width: 30%;
    margin: 8px 0;
    padding: 20px;
    border: 2px solid rgb(13, 14, 13);
    box-sizing: border-box;
    border-radius: 10px;
    height: 8px;
}

button:hover {
    opacity: 0.7;
}

.tempodeuso {
    padding: 10px;
}

#horas {
    padding: 10px;
    border-radius: 10px;
}

#minutos {
    padding: 10px;
    border-radius: 10px;
}

.potencia {
    display: inline;
}

.aparelho {
    padding: 10px;
}

#aparelho {
    padding: 10px;
    border-radius: 10px;
}

#quantidade {
    padding: 10px;
    border-radius: 10px;
}

#watt {
    padding: 10px;
    border-radius: 10px;
}

select {
    font-size: 15px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: bold;
}

.Rodape {
    mix-blend-mode: normal;
    position: absolute;
    width: 359px;
    height: 32px;
    left: 541px;
    top: 38px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    color: #000000;
    z-index: 8;
}

.Footer {
    height: 121px;
    width: 1440px;
    position: absolute;
    left: 0px;
    top: 903px;
    background-color: rgba(10, 137, 177, 0.25);
}